/*-----------------------------------------------------------------------------------*/
/*                              Configurações Padrão
/*-----------------------------------------------------------------------------------*/
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/avenir_ff/AvenirLTStd-Black.otf);
  src: url(/assets/fonts/avenir_ff/AvenirLTStd-Book.otf);
  src: url(/assets/fonts/avenir_ff/AvenirLTStd-Roman.otf);
}


body {
  /* font-family: "Avenir"; */
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 550;
  line-height: 22px;
  letter-spacing: 0em;
}

/* _______________ header _______________ */
header {
  background: hsl(229, 67%, 5%);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  font-style: normal;
}

header img {
  height: 35px;
  width: 79px;
}

/* não exibir no mobile */
header .no-exibition {
  display: flex;
}

header .mobile-only {
  display: none;
}

header nav {
  min-width: 60%;
  display: flex;
  justify-content: space-around;
}

header nav a {
  font-weight: 300;
  font-size: 1em;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}

header input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
}

/*-----------------------------------------------------------------------------------*/
/*                                Section lançamentos
/*-----------------------------------------------------------------------------------*/

#lancamentos {
  background: #040926;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 50px 0px;
}

#lancamentos .video {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lancamentos .video iframe {
  width: 90%;
  height: 90%;
}

#lancamentos .info {
  min-width: 50%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lancamentos .info p {
  margin: 5px 0px;
}

#sinopse {
  width: 90%;
  height: 90%;
}

#lancamentos .info span {
  font-weight: bold;
}

#lancamentos .info #info-avaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lancamentos .info #info-avaliacoes #stars img {
  width: 30px;
  transition-duration: 0.5s;
}

#lancamentos .info #info-avaliacoes #stars img:hover {
  width: 30.5px;
}

/*-----------------------------------------------------------------------------------*/
/*                                Section Em Destaque
/*-----------------------------------------------------------------------------------*/

#destaque {
  background: #040926;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
}

#destaque h2 {
  text-align: center;
}

#destaque .movies-wrapper {
  display: flex;
  overflow-x: scroll;
}

#destaque .movies-wrapper::-webkit-scrollbar {
  width: 30px;
}

#destaque .movies-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

#destaque .movies-wrapper::-webkit-scrollbar-thumb {
  background-color: #ffffff1c;
  border-radius: 10px;
  height: 5px;
}

#destaque .movies-wrapper .movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#destaque .movies-wrapper .movie img {
  max-width: 250px;
}

/*-----------------------------------------------------------------------------------*/
/*                                Section Avaliacoes 
/*-----------------------------------------------------------------------------------*/

#avaliacoes {
  background: #040926;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
  text-align: center;
  align-items: center;
}

#avaliacoes h2 {
  text-align: center;
}

.avaliacoes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10px;
}

.avaliacao {
  display: grid;
}

#avaliacoes-img {
  display: flex;
  justify-content: center;
}

.avaliacao {
  display: grid;
}

#avaliacoes-img {
  display: flex;
  justify-content: center;
}


/*-----------------------------------------------------------------------------------*/
/*                                Section Entrevistas
/*-----------------------------------------------------------------------------------*/


#entrevistas {
  background: #091141;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
}

#entrevistas h2 {
  text-align: center;
}

#entrevistas .movies-wrapper {
  display: flex;
  overflow-x: scroll;
}

#entrevistas .movies-wrapper::-webkit-scrollbar {
  width: 30px;
}

#entrevistas .movies-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

#entrevistas .movies-wrapper::-webkit-scrollbar-thumb {
  background-color: #ffffff1c;
  border-radius: 10px;
  height: 5px;
}

#entrevistas .movies-wrapper .movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#entrevistas .movies-wrapper .movie img {
  max-width: 250px;
}

/*-----------------------------------------------------------------------------------*/
/*                                Section Favoritos
/*-----------------------------------------------------------------------------------*/


#favoritos {
  background: #040926;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
  text-align: center;
  align-items: center;
}

#favoritos h2 {
  text-align: center;
}

.favoritos-wrapper {

  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10px;
}

.favoritos {
  display: grid;
}

#favoritos-img {
  display: flex;
  justify-content: center;
}



/*-----------------------------------------------------------------------------------*/
/*                                Section Sugestões
/*-----------------------------------------------------------------------------------*/

/*Formulario-Sugestoes*/
#sugestoes {
  background-color: #040926;
  color: #F5F5F5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

#formularioSugestoes {
  min-width: 56%;
}

#sugestoes .titulo {
  font-size: 28px;
  font-weight: 400;
  font-style: bold;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 40px;
}

#formularioSugestoes .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#sugestoes .container .form {
  width: calc(100% /1.5 - 10px);
  padding: 3px;
  border: 3px;
  margin: 3px;
}

#sugestoes .container .form .input-box input {
  font-weight: 400;
  color: #F5F5F5;
  border-radius: 10px;
  padding: 0px;
  border: 2px;
  margin: 5px;
  background-color: #132057;
}

#sugestoes .container textarea {
  font-weight: 500;
  color: #F5F5F5;
  border-radius: 10px;
  padding: 0px;
  border: 2px;
  margin: 5px;
  background-color: #132057;
  resize: none;
  height: 12em;
  width: 98%;
  overflow: hidden;
}

#sugestoes .user-detalhes .input-box input {
  height: 32px;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#sugestoes .user-detalhes .input-box input:focus,
#sugestoes .user-detalhes .input-box input:valid,
#sugestoes .user-detalhes .input-box textarea:focus,
#sugestoes .user-detalhes .input-box textarea:valid {
  border: 1px solid #8B008B;
}

#sugestoes .container .form .user-detalhes .button {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 5%;
  min-width: 5vw;
  min-height: 8vh;
}

#sugestoes .container .form .user-detalhes .button input {
  margin-top: 50px;
  margin-bottom: 10px;
  min-width: 10vw;
  color: #fff;
  background: #132057;
  border: 1px solid #111C4D;
  box-shadow: 0px 4px 4px rgba(5, 9, 28, 0.67);
  border-radius: 10px;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  padding: 5px;
  margin: 0px;
}

#sugestoes .container .form textarea {
  height: 100%;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #111C4D;
  box-sizing: border-box;
  border: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#sugestoes .container .form .user-detalhes .button input:hover {
  background: #132a75;
  border: 1px solid #8B008B;
}

/*Formulario-Sugestoes End */


/*Sugestões Sobre*/
#sobreSugestoes {
  min-width: 44%;
}

#sobreSugestoes p {
  /*significa que a letra terá no máximo 1.5em, entretanto, ela não pode ter mais de 0.5em+0.5vw da largura do 
  pai, e nem menos de 0.5px de largura.*/
  font-size: clamp(0.2em, 0.7em + 0.5vw, 1.0em);
  text-align: justify;
  margin-right: 10%;
  font-weight: 300;
  line-height: 25px;
  color: #FFFFFF;
}

#sobreSugestoes li {
  font-size: clamp(0.5em, 0.5em + 0.5vw, 1.3em);
  list-style: none;
  max-width: 374px;
  margin-bottom: 5px;
  line-height: 10px;
}

#sobreSugestoes ul {
  padding-inline-start: 0px;
}

#sobreSugestoes li img {
  max-width: 40px;
  max-height: 20px;
  margin-right: 10px;
}

.ct-socials {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.ct-socials a img {
  border-radius: 70px;
  max-width: 35px;
  min-height: 30px;
}

/*Sugestões Sobre End */

/*-----------------------------------------------------------------------------------*/
/*                         Section Novidades
/*-----------------------------------------------------------------------------------*/

#novidades {
  background: #040926;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

#novidades .containerNovidades {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#novidades #novidadetrailer {
  display: flex;
  flex-direction: column;
}

#novidades .containerNovidades .itemNovidade {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 50px;
  max-height: 185px;
  padding: 7px;
  margin: 5px;
  border-bottom: 4px gray solid;
}

#novidades .containerNovidades .itemNovidade .container iframe {
  max-height: 185px;
  margin-left: 5px;
  margin-right: 5px;
}

#novidades .containerNovidades .itemNovidade .textoNovidades p {
  max-width: 550px;
  max-height: 185px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

#novidades .containerNovidades .itemNovidade .textoNovidades {
  padding-left: 30px;
}

#novidades .containerNovidades .itemNovidade ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 450px;
  row-gap: 10px;
}

#novidades .containerNovidades .itemNovidade ul li {
  list-style: none;
  margin: 0px;
  padding: 2px;
  border: 0px;
  min-width: 100px;
  max-height: 18px;
  background: #D9D9D9;
  border-radius: 16px;
  color: #040926;
  text-align: center;
  font-size: 14px;
}

#novidades #novidadetrailer .container {
  display: flex;
  flex-direction: row;
}


#novidades #propaganda {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;


}

#novidades #novidadetrailer h2,
#novidades #propaganda .titulo {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding: 3px;
  color: #fff;
  margin: 0px;
  line-height: 40px;
}

#novidades #propaganda img {
  max-width: 70%;
  max-height: 100%;
  margin-top: 5%;
}



/*-----------------------------------------------------------------------------------*/
/*                         Section Comunidade
/*-----------------------------------------------------------------------------------*/
#comunidade .titulo {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  color: #fff;
  margin: 0px;
  line-height: 30px;
}

#comunidade {
  padding: 0;
  margin: 0;
  background-color: #040714;
}

#comunidade #containerComunidade {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

#comunidade #containerComunidade .usuarios {
  height: 100%;
}

#comunidade #containerComunidade .usuarios ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#comunidade #containerComunidade .usuarios li {
  list-style: none;
  width: 100%;
  margin: 5px;
  padding: 0px;
  border: 0px;
  display: flex;
  justify-content: start;
}

#comunidade #containerComunidade .usuarios img {
  border-radius: 80px;
  width: 20%;
  height: 20%;
  padding-right: 3px;
  margin-left: 10px;

}

#comunidade #containerComunidade .usuarios .imgverificado {
  padding: 0px;
  border: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 5px;
  max-width: 25px;
  margin-top: 10px;
}

#comunidade #containerComunidade .usuarios span {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 0px;
  border: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 5px;
}

#comunidade #containerComunidade .divComunidades {
  height: 100%;
}

#comunidade #containerComunidade .mensagens {
  height: 100%;
}

#comunidadefilmesherois,
#comunidadefilmesprincesa,
#comunidadefilmesfamilia {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  margin: 2px;
}

#comunidade #comunidadefilmesherois .movies-wrapper,
#comunidade #comunidadefilmesprincesa .movies-wrapper,
#comunidade #comunidadefilmesfamilia .movies-wrapper {
  display: flex;
  overflow-x: scroll;
}

#comunidade #comunidadefilmesherois .movies-wrapper::-webkit-scrollbar,
#comunidade #comunidadefilmesprincesa .movies-wrapper::-webkit-scrollbar,
#comunidade #comunidadefilmesfamilia .movies-wrapper::-webkit-scrollbar {
  width: 11px;
  height: 1vh;
}

#comunidadefilmesherois .movies-wrapper::-webkit-scrollbar-track,
#comunidadefilmesprincesa .movies-wrapper::-webkit-scrollbar-track,
#comunidadefilmesfamilia .movies-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

#comunidadefilmesherois .movies-wrapper::-webkit-scrollbar-thumb,
#comunidadefilmesprincesa .movies-wrapper::-webkit-scrollbar-thumb,
#comunidadefilmesfamilia .movies-wrapper::-webkit-scrollbar-thumb {
  background-color: #040926;
  border-radius: 10px;
  width: 11px;
}

#comunidadefilmesherois .movies-wrapper .movie,
#comunidadefilmesprincesa .movies-wrapper .movie,
#comunidadefilmesfamilia .movies-wrapper .movie {
  display: inline;
  margin-right: 10px;
}

#comunidadefilmesherois .movies-wrapper .movie img,
#comunidadefilmesprincesa .movies-wrapper .movie img,
#comunidadefilmesfamilia .movies-wrapper .movie img {
  width: 200px;
  height: 130px;
}

#comunidadefilmesherois .movies-wrapper .movie p,
#comunidadefilmesprincesa .movies-wrapper .movie p,
#comunidadefilmesfamilia .movies-wrapper .movie p {
  font-size: 12px;
  text-align: center;
  font-style: bold;
  overflow: hidden;
  white-space: wrap;
}

.mensagens {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.mensagens .container {
  margin-top: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.mensagens .container #dialogo {
  display: flex;
}

.mensagens .container #dialogo .imgdialogo {
  border-radius: 70px;
  max-width: 55px;
  max-height: 55px;
  margin: 20px;
}

.mensagens .container #dialogo .imgdialogoresposta {
  border-radius: 70px;
  max-width: 55px;
  max-height: 55px;
  margin: 10px;
  margin-left: 40px;
}

.mensagens .container #dialogo .mensagemdialogo {
  font-family: 'open sans';
  font-size: .70em;
  margin-bottom: 20px;
  border-radius: 25px;
  width: 400px;
  display: flex;
  flex-wrap: nowrap;
  color: #000;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  margin-right: 30px; 
}

.mensagens .container #dialogo .mensagemdialogoenviar {
  font-family: 'open sans';
  font-size: .70em;
  border-radius: 20px;
  width: 900px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  color: #000;
  background: #D9D9D9;
  margin-top: 50px;
}

.mensagens .container #dialogo label {
  font-size: 14px;
  text-align: center;
  color: white;
  width: 100%;
  max-height: 20px;
  padding-bottom: 10px;
}

.mensagens .container #dialogo .correiosbutton {
  max-width: 55px;
  max-height: 55px;
  margin-top: 80px;
  border-radius: 20px;
  margin-left: 10px;

}

/*-----------------------------------------------------------------------------------*/
/*                         Section Top 10 de filmes
/*-----------------------------------------------------------------------------------*/

#top10 {
  background: #040926;
  color: #FFFFFF;
}

#top10 h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 61px;
  text-align: center;
  color: #fff;

}

#top10 .movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
}

#top10 .movie .top10 img {
  max-width: 210px;
  max-height: 280px;
  margin: 13px;
}


#top10 .movie::-webkit-scrollbar {
  width: 11px;
  height: 3vh;
}


#top10 .movie::-webkit-scrollbar-track {
  background: transparent;
}


#top10 .movie::-webkit-scrollbar-thumb {
  background-color: #091141;
  border-radius: 10px;
  width: 11px;
}




/*-----------------------------------------------------------------------------------*/
/*                         Section Formulário
/*-----------------------------------------------------------------------------------*/

#formulario .row {
  padding: 0px;
  margin: 0px;
  font: sans-serif;
  background-image: url(../img/leao-bg.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: none;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25%;
}

#formulario .row h2 {
  color: #F5F5F5;
  text-align: center;
  margin-bottom: 65px;
}

#formulario .row label {
  font-weight: bold;
  color: #F5F5F5;
  height: 32px;
  width: 100%;
  font-size: 16px;
  margin-left: 80px;
}

#formulario .row input {
  background: #132057;
  width: 500px;
  height: 30px;
  border: 1.13227px solid #040714;
  border-radius: 11.3227px;
  resize: none;
  align-self: flex-start;
  margin-left: 80px;
  margin-bottom: 15px;
}

#formulario .row textarea {
  background: #132057;
  width: 500px;
  height: 158.52px;
  border: 1.13227px solid #040714;
  border-radius: 11.3227px;
  resize: none;
  align-self: flex-start;
  margin-left: 80px;
  margin-bottom: 15px;
}

#formulario .row form .button {
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100px;
  height: 20px;
  background: #D9D9D9;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  margin: 0px;
  color: #000;
  text-align: center;
}

#formulario .row form .button:hover {
  border: 3px #040926 solid;
}


/*-----------------------------------------------------------------------------------*/
/*                         Section Forum de Discussões
/*-----------------------------------------------------------------------------------*/
#forum {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #040714;
  color: #fff;

}

#forum .discussoes h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 61px;
  text-align: center;
  color: #fff;
}

#forum .discussoes {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
#forum.discussoes,textarea{
  width: 90%;
  padding: 50px;
  border-radius: 10px;
  background-color:#9395A1;
}

#forum.discussoes,input{
  width: 90%;
  padding: 20px;
  border-radius:10px;
  background-color:#9395A1;
}
#forum.discussoes.formforum,button{
  justify-content: center;
  align-items: center;
  border-radius:10px;
  background-color: #040926;
  width: 129.1px;
  height: 33.44px;
  font-weight: 600;
  font-size: 22.29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin: 0px;

}

#forum .formForum {
  margin-bottom: 5%;
  background-color: #D9D9D9;
  border-radius: 3px;
  margin-bottom: 5%;
  width: 1230px;
  height: 320px;
  color: #000;

}

#forum .dialogoforum {
  background-color: #D9D9D9;
  color: #000;
  margin-bottom: 5%;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
}

#forum .dialogoforum .titulomensagem {
  text-align: center;

}

#forum .dialogoforum .conteudomensagem {
  text-align: start;
}

#forum .dialogoforum .dialogoforumimg .imgdialogo {
  border-radius: 80px;
  width: 150px;
  height: 150px;
  margin: 30px 0px 30px 30px;

}


/*-----------------------------------------------------------------------------------*/
/*                                  Footer
/*-----------------------------------------------------------------------------------*/
footer div {
  background: #040926;
  display: flex;
  flex-direction: row;
}

.footertexto {
  font-size: 12px;
  line-height: 21px;
  color: silver;
  margin-left: 1vmin;
  margin-top: 5vmin;
  width: 93%;
  text-align: center;
}

.footerlogo {
  width: 80px;
}



/*-----------------------------------------------------------------------------------*/
/*                                    Queries
/*-----------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------*/
/*--------------------------- celular e tablets--------------------------- */
@media (min-width: 0px) and (max-width: 768px) {
  body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: 0em;
  }


  /* _________header_____________ */
  header {
    display: flex;
    justify-content: space-between;
  }

  header .no-exibition {
    display: none;
  }

  header .mobile-only {
    display: flex;
  }

  header .mobile-only img {
    width: 35px;
    height: 35px;
  }

  header #navbar-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header #navbar-mobile:target {
    opacity: 1;
    pointer-events: auto;
  }

  .fechar {
    position: absolute;
    width: 30px;
    right: 50%;
    top: 0px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    border-radius: 50%;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    border: 1px solid rgb(219, 216, 216);
  }

  #navbar-mobile nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #navbar-mobile nav a {
    padding: 10px;
  }

  /* __________lançamentos_________________ */
  #lancamentos {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }

  #lancamentos .info p {
    text-align: justify;
  }

  #stars img {
    width: 30px;
  }

  /*___________section sugestao________________*/
  #sugestoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  #sugestoes #formularioSugestoes .container .form {
    width: calc(100% /1.5 - 10px);
  }

  #formularioSugestoes .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

  }

  #sugestoes .container .form .user-detalhes .button {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 5%;
    min-width: 5vw;
    min-height: 8vh;
  }

  #sobreSugestoes li span {
    font-size: clamp(1.0em, 1.0em + 0.7vw, 1.5em);
  }

  #sobreSugestoes p {
    width: 94%;
    font-weight: 400;
    color: #FFFFFF;
    margin: 10px;
    line-height: 35px;
    font-size: 18px;
  }

  #comunidade .mensagens .titulo {
    font-size: 28px;
    line-height: 40px;
    text-shadow: 2px 2px 5px #1e5786;
    text-align: left;
  }

  /*______________________section novidades______________*/

  #novidades .containerNovidades {
    padding: 5px;
    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  #novidades .containerNovidades #novidadetrailer {
    margin-bottom: 50px;
    max-width: 90%;
  }

  #novidades .containerNovidades .itemNovidade {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px;
    border-bottom: 4px gray solid;
    max-width: 100%;
    max-height: 100%;
  }

  #novidades .containerNovidades .itemNovidade .container iframe {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
    border: 0px;

  }

  #novidades .containerNovidades .itemNovidade .textoNovidades {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
  }

  #novidades .containerNovidades .itemNovidade .textoNovidades ul {
    padding: 5px;
    margin: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 45% 45%;
  }

  #novidades .containerNovidades .itemNovidade .textoNovidades p {
    font-size: 16px;
    padding: 10px;
  }

  #novidades .containerNovidades .itemNovidade .container iframe {
    max-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
    border: 0px;
    max-height: 100%;

  }

  #novidades .containerNovidades .itemNovidade .textoNovidades ul li {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }


  #novidades #propaganda {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    max-width: 90%;

  }

  #novidades #novidadetrailer h2,
  #novidades #propaganda h2 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding: 3px;
    color: #fff;
    margin: 0px;
    line-height: 20px;
  }

  #novidades #propaganda img {
    max-height: 100%;
    margin-bottom: 5%;
  }

  /*_________________________section formulario____________________________________*/
  #formulario {
    background-color: #040714;
  }

  #formulario .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #formulario .row h2 {
    padding: 25px;
    margin: 0px;
    border: 0px;
    line-height: 20px;
  }

  #formulario form {
    padding: 0px;
    margin: 0px;
    border: 0px;
    max-width: 90%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #formulario .row label {
    font-weight: bold;
    color: #F5F5F5;
    height: 15px;
    width: 80%;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    padding-right: 30px;
  }

  #formulario .row input {
    width: 50vw;
    margin-bottom: 25px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-left: 12%;
    margin-top: 5px;
  }

  #formulario .row textarea {
    background: #132057;
    width: 50vw;
    height: 100px;
    border: 1.13227px solid #040714;
    border-radius: 11.3227px;
    resize: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-left: 12%;
  }

  #formulario .row form .button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-top: 20px;
    margin-right: 3px;
  }

  #formulario .row form .button:hover {
    border: 3px #040926 solid;
  }

  /*______________________section forum______________*/
  #forum .discussoes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 50%;
  }

  /*______________________section Comunidade______________*/
  #comunidade {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  #comunidade #containerComunidade {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  #comunidade #containerComunidade .mensagens {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: #060a22;
  }

  .mensagens .container #dialogo .imgdialogoresposta {
    max-width: 80px;
    max-height: 80px;
    margin-left: 10%;
  }

  .mensagens .container #dialogo .mensagemdialogo {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
  }

  .mensagens .container #dialogo .mensagemdialogoenviar {
    width: 70%;
  }

  #comunidade #containerComunidade .usuarios .imgverificado {
    padding: 0px;
    border: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    max-width: 25px;
    margin-top: 15px;
  }

}
/*----------------------------------------------------------------------*/
/*--------------------- computador------------------------------------- */

@media (min-width: 769px) and (max-width: 1279px) {
  header input {
    display: none;
  }

  header nav {
    width: 100%;
    justify-content: space-around;
  }

  #lancamentos {
    padding: 30px 0px;
  }

  #lancamentos .video {
    min-width: 60%;
  }

  #lancamentos .info {
    min-width: 40%;
  }

  #info-avaliacoes h3 {
    margin: 5px;
  }

  #stars img {
    width: 30px;
  }


  #novidades .containerNovidades {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  #novidades .containerNovidades #novidadetrailer {
    margin-bottom: 50px;
    max-width: 90%;
  }

  #novidades .containerNovidades .itemNovidade {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-bottom: 4px gray solid;
    max-width: 100%;
    max-height: 100%;
  }

  #novidades .containerNovidades .itemNovidade .container iframe {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
    border: 0px;

  }

  #novidades .containerNovidades .itemNovidade .textoNovidades {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
  }

  #novidades .containerNovidades .itemNovidade .textoNovidades ul {
    padding: 5px;
    margin: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 45% 45%;
  }

  #novidades .containerNovidades .itemNovidade .textoNovidades p {
    font-size: 16px;
    padding: 10px;
  }

  #novidades .containerNovidades .itemNovidade .container iframe {
    max-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
    border: 0px;
    max-height: 100%;

  }

  #novidades .containerNovidades .itemNovidade .textoNovidades ul li {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }


  #novidades #propaganda {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    max-width: 90%;

  }

  #novidades #novidadetrailer h2,
  #novidades #propaganda h2 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding: 3px;
    color: #fff;
    margin: 0px;
    line-height: 20px;
  }

  #novidades #propaganda img {
    max-height: 100%;
  }

  /*_______________________________formulario_____________________*/
  #formulario .row {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #formulario .row form {
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-height: 93%;
  }

}

@media (min-width: 768px) {
  .avaliacoes-wrapper {
    flex-direction: row;
  }

  #formulario {
    display: block;
    flex-direction: column;
    justify-content: center;
  }

  #formulario .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #formulario .row h2 {
    margin-bottom: 0px;
    min-height: 95%;
  }

  #formulario .row form {
    margin: 0px;
    padding: 20px;
    border: 0px;
    max-height: 90%;
    max-width: 80%;
   }
}

/*------------------------------------------------------------------*/
/*------------------------ telas maiores---------------------------- */
@media (min-width: 1335px) {
  .favoritos-wrapper {
    flex-direction: row;
  }

  #formulario .row form {
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-height: 90%;
  }
}