/* Configurações Padrão */
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/avenir_ff/AvenirLTStd-Black.otf);
  src: url(/assets/fonts/avenir_ff/AvenirLTStd-Book.otf);
  src: url(/assets/fonts/avenir_ff/AvenirLTStd-Roman.otf);
}

/* Configurações Padrão End */

body {
  font-family: "Avenir";
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

header {
  background: hsl(229, 67%, 5%);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  /*font-family: 'Montserrat';*/
  font-style: normal;
}

header img {
  height: 35px;
  width: 79px;
}

header nav {
  min-width: 60%;
  display: flex;
  justify-content: space-around;
}

header nav a {
  font-weight: 300;
  font-size: 1em;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}

header input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
}

#lancamentos {
  background: #040926;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 50px 0px;
}

#lancamentos .video {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lancamentos .video iframe {
  width: 90%;
  height: 90%;
}

#lancamentos .info {
  min-width: 50%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lancamentos .info p {
  margin: 5px 0px;
}

#sinopse {
  width: 90%;
  height: 90%;
}

#lancamentos .info span {
  font-weight: bold;
}

#info-avaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stars img {
  width: 30px;
}

#destaque {
  background: #040926;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
}

#destaque h2 {
  text-align: center;
}

#destaque .movies-wrapper {
  display: flex;
  overflow-x: scroll;
}

#destaque .movies-wrapper::-webkit-scrollbar {
  width: 30px;
}

#destaque .movies-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

#destaque .movies-wrapper::-webkit-scrollbar-thumb {
  background-color: #ffffff1c;
  border-radius: 10px;
  height: 5px;
}

#destaque .movies-wrapper .movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#destaque .movies-wrapper .movie img {
  max-width: 250px;
}

/*Section Sugestões*/
/*Formulario*/
#sugestoes {
  background-color: #040926;
  color: #F5F5F5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#formularioSugestoes {
  min-width: 45%;
}

#sugestoes .titulo {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  font-style: bold;
  margin-top: 40px;
}

#sugestoes .tituloForm {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  font-style: bold;
  margin-top: 40px;
  margin-left: 10%;
}

form .user-detalhes .input-box {
  margin: 15px;
  padding-left: 90px;
  width: calc(100% / 2 - 20px);
}

form .input-box input,
textarea {
  font-weight: 500;
  margin: 5px;
  background-color: #132057;
  color: #F5F5F5;
  border-radius: 10px;
}

form span.detalhes {
  font-weight: 500;
  margin: 10px;
}

.user-detalhes .input-box input,
textarea {
  height: 40px;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  border-color: #132057;
  overflow-y: auto;
}

.user-detalhes .input-box input:focus,
.user-detalhes .input-box input:valid,
.user-detalhes .input-box textarea:focus,
.user-detalhes .input-box textarea:valid {
  border-color: #9b59b6;
}

form .button {
  height: 51px;
  margin: 35px 0;
  width: 180px;
  padding-left: 150px;
}

form .button input,
textarea {
  height: 100%;
  width: 90%;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #111C4D;
  align-items: center;
}

form .button input:hover {
  background: #13205a;
}

/*Formulario End */

/*Sugestões Sobre*/
#sobreSuguestoes {
  min-width: 50%;
}

#sobreSugestoes p {
  /*significa que a letra terá no máximo 1.5em, entretanto, ela não pode ter mais de 0.5em+0.5vw da largura do 
  pai, e nem menos de 0.5px de largura.*/
  font-size: clamp(0.5em, 0.5em + 0.5vw, 1.5em);
  text-align: justify;
  margin-right: 20%;
}

#sobreSugestoes li {
  font-size: clamp(0.5em, 0.5em + 0.5vw, 1.3em);
  list-style: none;
  max-width: 374px;
  margin-bottom: 12px;
  line-height: 24px;
}

#sobreSugestoes ul {
  padding-inline-start: 0px;
}

#sobreSugestoes li img {
  max-width: 50px;
  max-height: 25px;
  margin-right: 10px;
}

.ct-socials {
  max-width: 215px;
  display: flex;
  flex-direction: row;
}

.ct-socials a img {
  border-radius: 70px;
  max-width: 35px;
  min-height: 30px;
  margin-left: 0px;
}

/*Sugestões Sobre End */
/*Section Sugestões End*/
/*Section Comunidade*/
#comunidade {
  background: hsl(229, 67%, 5%);
  color: #F5F5F5;
}

#conteudoComunidade{
  height: 100vh;
  display: flex;
  border: red 2px solid;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  color: #fff;
}
#conteudoComunidade #item {
  margin: 10px;
  background-color: pink;
  width: 270px;
  flex-grow: 2;
}
/*Section Comunidade End*/
/*Footer*/
footer div {
  background: #040926;
  display: flex;
  flex-direction: row;
}

.footertexto {
  font-size: 12px;
  line-height: 21px;
  color: silver;
  margin-left: 1vmin;
  margin-top: 5vmin;
  width: 93%;
  text-align: center;
}

.footerlogo {
  width: 80px;
}

/*Footer End */

/* queries */
/* celular e tablets */
@media (min-width: 0px) and (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
  }

  header .no-exibition {
    display: none;
  }

  #lancamentos {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }

  #lancamentos .info p {
    text-align: justify;
  }

  #stars img {
    width: 30px;
  }

  /*section sugestao*/
  #sugestoes {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .container {
    max-width: 96%;
    display: flex;
  }

  form .user-detalhes .input-box {
    margin-bottom: 15px;
    width: 96%;
    padding-left: 0px;
    margin-right: 3%;
  }

  .container .input-box  input,textarea {
    display: flex;
    position: relative;
    padding-left: 0px;
    width: 94%;
  }

  .container form .user-detalhes {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .container form .button {
    height: 45px;
    width: 180px;
    padding-left: 25%;
    
  }
  #sobreSugestoes p,li span {
    margin: 4%;
    font-size: clamp(1.0em, 1.0em + 0.7vw, 1.5em);
  }
  /*section sugestao End*/
}


/* computador */
@media (min-width: 769px) and (max-width: 1279px) {
  header input {
    display: none;
  }

  header nav {
    width: 100%;
    justify-content: space-around;
  }

  #lancamentos {
    padding: 30px 0px;
  }

  #lancamentos .video {
    min-width: 60%;
  }

  #lancamentos .info {
    min-width: 40%;
  }

  #info-avaliacoes h3 {
    margin: 5px;
  }

  #stars img {
    width: 30px;
  }
}

/* telas maiores */
@media (min-width: 1280px) {}

/* avaliacoes */

#avaliacoes{
  background: #040926;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
  text-align: center;
  align-items: center;
}

#avaliacoes h2 {
  text-align: center;
}

.avaliacoes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .avaliacoes-wrapper {
    flex-direction: row;
  }
}

.avaliacao {
  display: grid;
}

#avaliacoes-img{
  display: flex;
  justify-content: center;
}